:root {
  --transition-duration-450: 450ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

html {
  font-family: Roboto;
  font-weight: 700;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.mobile-shown {
  overflow: hidden;
}

.section {
  padding-top: 30px;
}

@media screen and (min-width: 1140px) {
  .section {
    padding-top: 30px;
    padding: 101px 0;
  }
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 1140px) {
  .container {
    min-width: 1140px;
    /* max-width: px; */
    margin: 0 auto;
    /* padding-left: 389px;
    padding-right: 389px; */
  }

  .hero-padding {
    padding-top: 20px;
  }
}

.section-title {
  text-align: center;
  font-size: 30px;
}

/* #region header  */
.header {
  background-image: url("../images/header/header-bg.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;

  position: relative;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.header__content-wrapper {
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

.nav__main-logo {
  width: 190px;
}

.nav__list {
  display: flex;
  visibility: hidden;
  display: none;
  padding: 0;
  list-style: none;
  text-decoration: none;

  /* TODO mediaquery */
}

.nav__burger-menu {
  background: transparent;
  border: none;
}

.hero {
  padding-bottom: 30px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero__title {
  color: #f9e994;
  text-align: center;
}

.hero__subtitle {
  color: #f6f7e4;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 23px;
}

.hero__descr {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero__features-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 85%;
  margin: 0 auto;
  border-radius: 20px;
  background: #7fb3e1;
  color: #dfe4de;
  padding: 20px 20px 20px 35px;
}

.hero__features-list-item {
  display: flex;
  align-items: center;
}

.hero__features-list-item::before {
  content: "";
  display: inline-block;
  margin-right: 20px;

  height: 20px;
  width: 20px;

  background-image: url("../images/hero/paw-dark.webp");
  background-size: cover;
  background-position: center;
}

.hero__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  border-radius: 20px 20px 10px 10px;
  background: #fdfcfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero__form-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 21px;
  border-radius: 20px 20px 10px 10px;
  background: #fdfcfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero__form-wrapper svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__form-top-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 24px 24px 36px;
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  background-color: #7eb2e1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero__form-title {
  color: #483c08;
  font-size: 29px;
  line-height: normal;
}

.hero__form-timer {
  color: #f6e791;
  font-size: 32px;
}

.hero__form-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero__form-price-old {
  position: relative;
  color: #6b6b6b;
  font-size: 26px;
}

.hero__form-price-old::after {
  content: "";
  background: #f6be91;
  position: absolute;
  top: 13px;
  left: 0px;
  width: 100%;
  height: 7%;
  transform: rotate(-19deg);
}

.hero__form-price-current {
  color: #483c08;
  font-size: 32px;
}

.hero__form-input {
  border-radius: 20px;
  border: none;
  padding: 16px 15px 15px 47px;
  background: url("../images/hero/paw-light.webp"), rgba(243, 239, 239, 0.9);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 17px 15px;
}

.hero__form-submit {
  background-color: #a1d337;
  padding: 7px 63px 8px;
  border-radius: 20px;

  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__form-date {
  color: #444;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* #endregion */

/* #region about */
.about {
  background-image: url("../images/about/about-bg.png");
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about__title {
  background: linear-gradient(180deg, #f9e994 0%, #537d13 56.25%, #483c08 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1140px) {
  .about__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

.about__list-item {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1140px) {
  .about__list-item {
    width: 305px;
  }
}

.about__list-item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #f6e791;
  font-size: 14px;
  padding: 14px;
  border-radius: 20px;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);

  font-weight: normal;
}



.about__list-item-card-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  border-radius: 20px;
  background: rgba(161, 211, 55, 0.4);
  padding: 0 16px 0 16px;
}

@media screen and (min-width: 1140px) {
  .about {
    padding: 100px 0;
  }

  .about__list-item-card-image {
    /* width: 100%; */
  }

  .about__list-item-card {
    height: 439px;
  }

  .about__list-item-card-descr {
    gap: 19px;
  }

  .about__list-item-card-descr {
    height: 218px;
  }
}

.about__list-item-card-descr-title {
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.about__list-item-card-descr-content {
  line-height: 18px;
}

@media screen and (min-width: 1140px) {
  .about__list-item-card-descr-content {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    width: 243px;
  }
}

/* #endregion */

/* #region mobile */
/* <!-- mobile MODAL --> */
@media screen and (min-width: 375px) {
  .mobile-modal-container {
    width: 375px;
    max-height: 812px;
  }
}
.mobile-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: white;
  background-image: url("../images/header/header-bg.webp");
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-duration-450)
      var(--transition-timing-function),
    visibility var(--transition-duration-450) var(--transition-timing-function);
}
.mobile-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-modal-container {
  position: relative;
  padding: 15px 25px;
  height: 100%;
}

.mobile-modal-container::before {
  content: "";
  position: absolute;
  width: 279px;
  height: 279px;
  border-radius: 279px;
  opacity: 0.6;
  background: var(--background-gradient-circles);
  filter: blur(100px);
  z-index: -1;
  bottom: 0;
  transform: translate(-55%);
}
.mobile-modal-container::after {
  content: "";
  position: absolute;
  width: 279px;
  height: 279px;
  border-radius: 279px;
  opacity: 0.6;
  background: var(--background-gradient-circles);
  filter: blur(100px);
  z-index: -1;
  bottom: 0;
  transform: translate(45%, 45%);
}
.mobile-modal-logo-link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 27px;
  border-bottom: 1px solid rgba(246, 245, 239, 0.2);
}

.modal-logo {
  margin-right: 8px;
  width: 16px;
  height: 18px;
  fill: url(#linear);
}
.modal-logo-text {
  transition: color var(--transition-duration-450)
    var(--transition-timing-function);
}
.modal-logo-text:hover,
.modal-logo-text:focus {
  color: var(--button-light-background);
}
.mobile-modal-btn-close {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 0;
  line-height: 0;
}
.mobile-modal-btn-icon {
  stroke: currentColor;
  transition: stroke 250ms var(--transition-duration-450)
    var(--transition-timing-function);
}
/* .mobile-modal-btn-icon:hover,
.mobile-modal-btn-icon:focus {
  stroke: url(#linear);
} */

.mobile-modal-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 50%;
}
.mobile-modal-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.mobile-modal-link {
  transition: color var(--transition-duration-450)
    var(--transition-timing-function);

  color: #715d00;
  font-size: 20px;
  text-decoration-line: underline;
}
/* .mobile-modal-link:hover,
.mobile-modal-link:focus {
  color: var(--button-light-background);
} */

@media screen and (min-width: 768px) {
  .mobile-modal {
    display: none;
  }
}

/* #endregion */

/* #region footer */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-image: url("../images/footer/footer-bg.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55px;
  z-index: 100;
}

@media screen and (min-width: 1140px) {
  .footer {
    height: 174px;
  }
}
/* #endregion */

/* #region to-top*/
.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 44px;
  height: 44px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s;
  z-index: 100;
}

.to-top-icon {
  width: 8px;
  height: 16px;
  /* fill: var(--text-color); */
}

.to-top:hover {
  box-shadow: 1px 1px 25px 10px black;
}

.to-top.active {
  bottom: 20px;
  pointer-events: auto;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .to-top {
    width: 68px;
    height: 68px;
    right: 32px;
  }

  .to-top-icon {
    width: 16px;
    height: 30px;
    fill: var(--text-color);
  }

  .to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
}
/* #endregion */

/* #region result */

.result {
  background-image: url("../images/result/result-bg.png");
  /* background-size: cover; */
  background-size: auto 100%;
  padding-bottom: 60px;
}

.result__title {
  color: #537d13;
  text-align: center;
}

.result__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.result__descr-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.figure {
  display: none;
}

.result__descr-content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: #483c08;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px;

  border: 10px solid #d4df6d;
}

@media screen and (min-width: 1140px) {
.result {
  padding-bottom: 124px;
}

  .result__descr-wrapper {
    flex-direction: row;
    position: relative;
    margin-bottom: 70px;
  }

  .figure {
    display: block;
  }

  .result__descr-content {
    display: flex;
    flex-direction: column;
    gap: 22px;
    border: none;
    position: absolute;
    top: 28px;
    left: 26px;
    width: 639px;
    color: #483c08;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
  }
}

/* #endregion */
